### Aula-03-06-Abril-2021-Dataframes-Leitura-Manipulacao-EstatisticaDescritiva-Turma-Manha-2021

# Aluno: xxxx - Matr√≠cula: xxxx

In [2]:
import pandas as pd

df = pd.DataFrame()
df['Matricula'] = [123, 567]
df

   Matricula
0        123
1        567

In [3]:
df['Nome'] = ['Daniel', "Amanda"]
df

   Matricula    Nome
0        123  Daniel
1        567  Amanda