# DataFrames

In [1]:
!ls

Aula-01-16-Dezembro-2021-Python-Fundamentos-Noite.ipynb
Aula-02-Listas-Tuplas-Dicionários-DataFrames-21-dezembro-2021-NOITE.ipynb
Aula-03-DataFrames-II-23-dezembro-2021-NOITE.ipynb
covid19-23-dezembro-2021.csv
estados_2010.dbf
estados_2010.shp
estados_2010.shx
mapa_covid_brasil.csv

In [2]:
url = 'covid19-23-dezembro-2021.csv'
url

'covid19-23-dezembro-2021.csv'

In [3]:
import pandas as pd

df = pd.read_csv(url)
print(len(df))
df.head(8)

2348

,epidemiological_week,date,order_for_place,state,city,city_ibge_code,place_type,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,new_confirmed,last_available_deaths,new_deaths,last_available_death_rate,estimated_population,is_last,is_repeated
0,202151,2021-12-22,656,DF,Brasília,5300108.0,city,458852,15018.97289,0,10131,0,0.0221,3055149.0,False,True
1,202151,2021-12-22,637,DF,Importados/Indefinidos,NaN,city,59834,NaN,0,959,0,0.0160,NaN,False,True
2,202151,2021-12-22,592,MT,Acorizal,5100102.0,city,807,15129.35883,0,22,0,0.0273,5334.0,False,True
3,202151,2021-12-22,593,MT,Água Boa,5100201.0,city,3870,14768.73760,0,99,0,0.0256,26204.0,False,True
4,202151,2021-12-22,628,MT,Alta Floresta,5100250.0,city,11485,22103.96659,0,151,0,0.0131,51959.0,False,True
5,202151,2021-12-22,586,MT,Alto Araguaia,5100300.0,city,1642,8470.46686,0,31,0,0.0189,19385.0,False,True
6,202151,2021-12-22,583,MT,Alto Boa Vista,5100359.0,city,947,13653.40254,0,19,0,0.0201,6936.0,False,True
7,202151,2021-12-22,585,MT,Alto Garças,5100409.0,city,1158,9530.07983,0,42,0,0.0363,12151.0,False,True

In [4]:
df.place_type.unique()

array(['city', 'state'], dtype=object)

In [5]:
dfe = df[df.place_type == 'state' ].reset_index(drop=True)
dfe

,epidemiological_week,date,order_for_place,state,city,city_ibge_code,place_type,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,new_confirmed,last_available_deaths,new_deaths,last_available_death_rate,estimated_population,is_last,is_repeated
0,202151,2021-12-22,644,PI,NaN,22.0,state,334080,10180.77209,0,7256,0,0.0217,3281480.0,False,True
1,202151,2021-12-22,651,RN,NaN,24.0,state,385468,10906.90446,0,7557,0,0.0196,3534165.0,False,True
2,202151,2021-12-22,642,RR,NaN,14.0,state,128786,20403.97287,0,2074,0,0.0161,631181.0,False,True
3,202151,2021-12-21,645,AC,NaN,12.0,state,88339,9876.12776,4,1850,0,0.0209,894470.0,False,False
4,202151,2021-12-21,654,AL,NaN,27.0,state,241911,7217.89934,10,6381,2,0.0264,3351543.0,False,False
5,202151,2021-12-21,649,AM,NaN,13.0,state,432835,10286.70200,123,13822,2,0.0319,4207714.0,False,False
6,202151,2021-12-21,642,AP,NaN,16.0,state,126309,14656.87600,109,2010,1,0.0159,861773.0,False,False
7,202151,2021-12-21,656,BA,NaN,29.0,state,1264804,8471.20089,0,27444,6,0.0217,14930634.0,False,False
8,202151,2021-12-21,646,CE,NaN,23.0,state,954018,10384.31810,47,24760,1,0.0260,9187103.0,False,False
9,202151,2021-12-21,655,DF,NaN,53.0,state,518686,16977.43711,42,11090,3,0.0214,3055149.0,False,False
10,202151,2021-12-21,657,ES,NaN,32.0,state,627447,15438.95108,258,13289,5,0.0212,4064052.0,False,False
11,202151,2021-12-21,642,MA,NaN,21.0,state,369610,5195.09324,253,10357,2,0.0280,7114598.0,False,False
12,202151,2021-12-21,654,MG,NaN,31.0,state,2217408,10413.95192,423,56568,0,0.0255,21292666.0,False,False
13,202151,2021-12-21,642,MT,NaN,51.0,state,555778,15761.29680,206,14035,2,0.0253,3526220.0,False,False
14,202151,2021-12-21,644,PA,NaN,15.0,state,621970,7156.69370,900,17049,6,0.0274,8690745.0,False,False
15,202151,2021-12-21,650,PE,NaN,26.0,state,643431,6690.82207,11,20379,6,0.0317,9616621.0,False,False
16,202151,2021-12-21,643,PI,NaN,22.0,state,334080,10180.77209,19,7256,3,0.0217,3281480.0,True,False
17,202151,2021-12-21,650,PR,NaN,41.0,state,1593747,13838.40533,567,40858,1,0.0256,11516840.0,False,False
18,202151,2021-12-21,650,RN,NaN,24.0,state,385468,10906.90446,94,7557,3,0.0196,3534165.0,True,False
19,202151,2021-12-21,642,RO,NaN,11.0,state,282962,15751.08825,348,6704,0,0.0237,1796460.0,False,False
20,202151,2021-12-21,641,RR,NaN,14.0,state,128786,20403.97287,0,2074,4,0.0161,631181.0,True,False
21,202151,2021-12-21,652,RS,NaN,43.0,state,1500037,13131.75651,167,36377,17,0.0243,11422973.0,False,False
22,202151,2021-12-21,650,SC,NaN,42.0,state,1238751,17080.32621,151,20135,4,0.0163,7252502.0,False,False
23,202151,2021-12-21,648,SE,NaN,28.0,state,278439,12007.77809,2,6056,0,0.0217,2318822.0,False,False

In [6]:
dfo = dfe.sort_values(by='last_available_confirmed', ascending=False)
dfo

,epidemiological_week,date,order_for_place,state,city,city_ibge_code,place_type,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,new_confirmed,last_available_deaths,new_deaths,last_available_death_rate,estimated_population,is_last,is_repeated
12,202151,2021-12-21,654,MG,NaN,31.0,state,2217408,10413.95192,423,56568,0,0.0255,21292666.0,False,False
17,202151,2021-12-21,650,PR,NaN,41.0,state,1593747,13838.40533,567,40858,1,0.0256,11516840.0,False,False
21,202151,2021-12-21,652,RS,NaN,43.0,state,1500037,13131.75651,167,36377,17,0.0243,11422973.0,False,False
7,202151,2021-12-21,656,BA,NaN,29.0,state,1264804,8471.20089,0,27444,6,0.0217,14930634.0,False,False
22,202151,2021-12-21,650,SC,NaN,42.0,state,1238751,17080.32621,151,20135,4,0.0163,7252502.0,False,False
8,202151,2021-12-21,646,CE,NaN,23.0,state,954018,10384.31810,47,24760,1,0.0260,9187103.0,False,False
15,202151,2021-12-21,650,PE,NaN,26.0,state,643431,6690.82207,11,20379,6,0.0317,9616621.0,False,False
10,202151,2021-12-21,657,ES,NaN,32.0,state,627447,15438.95108,258,13289,5,0.0212,4064052.0,False,False
14,202151,2021-12-21,644,PA,NaN,15.0,state,621970,7156.69370,900,17049,6,0.0274,8690745.0,False,False
13,202151,2021-12-21,642,MT,NaN,51.0,state,555778,15761.29680,206,14035,2,0.0253,3526220.0,False,False
9,202151,2021-12-21,655,DF,NaN,53.0,state,518686,16977.43711,42,11090,3,0.0214,3055149.0,False,False
5,202151,2021-12-21,649,AM,NaN,13.0,state,432835,10286.70200,123,13822,2,0.0319,4207714.0,False,False
18,202151,2021-12-21,650,RN,NaN,24.0,state,385468,10906.90446,94,7557,3,0.0196,3534165.0,True,False
1,202151,2021-12-22,651,RN,NaN,24.0,state,385468,10906.90446,0,7557,0,0.0196,3534165.0,False,True
11,202151,2021-12-21,642,MA,NaN,21.0,state,369610,5195.09324,253,10357,2,0.0280,7114598.0,False,False
16,202151,2021-12-21,643,PI,NaN,22.0,state,334080,10180.77209,19,7256,3,0.0217,3281480.0,True,False
0,202151,2021-12-22,644,PI,NaN,22.0,state,334080,10180.77209,0,7256,0,0.0217,3281480.0,False,True
19,202151,2021-12-21,642,RO,NaN,11.0,state,282962,15751.08825,348,6704,0,0.0237,1796460.0,False,False
23,202151,2021-12-21,648,SE,NaN,28.0,state,278439,12007.77809,2,6056,0,0.0217,2318822.0,False,False
4,202151,2021-12-21,654,AL,NaN,27.0,state,241911,7217.89934,10,6381,2,0.0264,3351543.0,False,False
20,202151,2021-12-21,641,RR,NaN,14.0,state,128786,20403.97287,0,2074,4,0.0161,631181.0,True,False
2,202151,2021-12-22,642,RR,NaN,14.0,state,128786,20403.97287,0,2074,0,0.0161,631181.0,False,True
6,202151,2021-12-21,642,AP,NaN,16.0,state,126309,14656.87600,109,2010,1,0.0159,861773.0,False,False
3,202151,2021-12-21,645,AC,NaN,12.0,state,88339,9876.12776,4,1850,0,0.0209,894470.0,False,False

In [7]:
dfc = df[df.place_type == 'city' ].reset_index(drop=True)
print(len(dfc))
dfc.head(8)

2324

,epidemiological_week,date,order_for_place,state,city,city_ibge_code,place_type,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,new_confirmed,last_available_deaths,new_deaths,last_available_death_rate,estimated_population,is_last,is_repeated
0,202151,2021-12-22,656,DF,Brasília,5300108.0,city,458852,15018.97289,0,10131,0,0.0221,3055149.0,False,True
1,202151,2021-12-22,637,DF,Importados/Indefinidos,NaN,city,59834,NaN,0,959,0,0.0160,NaN,False,True
2,202151,2021-12-22,592,MT,Acorizal,5100102.0,city,807,15129.35883,0,22,0,0.0273,5334.0,False,True
3,202151,2021-12-22,593,MT,Água Boa,5100201.0,city,3870,14768.73760,0,99,0,0.0256,26204.0,False,True
4,202151,2021-12-22,628,MT,Alta Floresta,5100250.0,city,11485,22103.96659,0,151,0,0.0131,51959.0,False,True
5,202151,2021-12-22,586,MT,Alto Araguaia,5100300.0,city,1642,8470.46686,0,31,0,0.0189,19385.0,False,True
6,202151,2021-12-22,583,MT,Alto Boa Vista,5100359.0,city,947,13653.40254,0,19,0,0.0201,6936.0,False,True
7,202151,2021-12-22,585,MT,Alto Garças,5100409.0,city,1158,9530.07983,0,42,0,0.0363,12151.0,False,True

In [8]:
atributos = dfc.columns
atributos

Index(['epidemiological_week', 'date', 'order_for_place', 'state', 'city',
       'city_ibge_code', 'place_type', 'last_available_confirmed',
       'last_available_confirmed_per_100k_inhabitants', 'new_confirmed',
       'last_available_deaths', 'new_deaths', 'last_available_death_rate',
       'estimated_population', 'is_last', 'is_repeated'],
      dtype='object')

In [9]:
atributos = [ 'city', 'state', 'last_available_confirmed', 'new_confirmed',
               'last_available_deaths', 'new_deaths', 'estimated_population']
atributos

['city',
 'state',
 'last_available_confirmed',
 'new_confirmed',
 'last_available_deaths',
 'new_deaths',
 'estimated_population']

In [16]:
dfc = dfc [ atributos ]
dfc.head()

,city,state,last_available_confirmed,new_confirmed,last_available_deaths,new_deaths,estimated_population
0,Brasília,DF,458852,0,10131,0,3055149.0
1,Importados/Indefinidos,DF,59834,0,959,0,NaN
2,Acorizal,MT,807,0,22,0,5334.0
3,Água Boa,MT,3870,0,99,0,26204.0
4,Alta Floresta,MT,11485,0,151,0,51959.0

In [17]:
dfco = dfc.sort_values(by='last_available_confirmed', ascending=False).reset_index(drop=True)
dfco[:20]

,city,state,last_available_confirmed,new_confirmed,last_available_deaths,new_deaths,estimated_population
0,Brasília,DF,458852,0,10131,0,3055149.0
1,Brasília,DF,458852,33,10131,3,3055149.0
2,Porto Alegre,RS,172285,22,5818,1,1488252.0
3,Porto Alegre,RS,172285,0,5818,0,1488252.0
4,Joinville,SC,119752,31,2077,2,597658.0
5,Joinville,SC,119752,0,2077,0,597658.0
6,Cuiabá,MT,114553,0,3553,0,618124.0
7,Cuiabá,MT,114553,15,3553,0,618124.0
8,Teresina,PI,110519,5,2610,1,868075.0
9,Teresina,PI,110519,0,2610,0,868075.0
10,Florianópolis,SC,85114,112,1124,1,508826.0
11,Florianópolis,SC,85114,0,1124,0,508826.0
12,Caxias do Sul,RS,79076,0,1460,0,517451.0
13,Caxias do Sul,RS,79076,8,1460,0,517451.0
14,Blumenau,SC,65699,0,693,0,361855.0
15,Blumenau,SC,65699,3,693,1,361855.0
16,Importados/Indefinidos,DF,59834,0,959,0,NaN
17,Importados/Indefinidos,DF,59834,9,959,0,NaN
18,Pelotas,RS,51342,9,1231,0,343132.0
19,Pelotas,RS,51342,0,1231,0,343132.0

In [29]:
atributos = dfco.columns
atributos

Index(['city', 'state', 'last_available_confirmed', 'new_confirmed',
       'last_available_deaths', 'new_deaths', 'estimated_population'],
      dtype='object')

In [31]:
atributos = [ 'state', 'last_available_confirmed', 'new_confirmed',
       'last_available_deaths', 'new_deaths', 'estimated_population']
atributos

['state',
 'last_available_confirmed',
 'new_confirmed',
 'last_available_deaths',
 'new_deaths',
 'estimated_population']

## Eliminar as cidades duplicadas

In [33]:
print(len(dfc))
dfc2 = dfc.groupby('city')[atributos].max().reset_index()
print(len(dfc2))
dfc2.head()

2324
1152

,city,state,last_available_confirmed,new_confirmed,last_available_deaths,new_deaths,estimated_population
0,Abdon Batista,SC,408,0,4,0,2548.0
1,Abelardo Luz,SC,1969,0,61,0,17960.0
2,Acauã,PI,219,0,2,0,7102.0
3,Aceguá,RS,402,0,8,0,4942.0
4,Acorizal,MT,807,0,22,0,5334.0

In [34]:
dfco = dfc2.sort_values(by='last_available_confirmed', ascending=False).reset_index(drop=True)
dfco[:20]

,city,state,last_available_confirmed,new_confirmed,last_available_deaths,new_deaths,estimated_population
0,Brasília,DF,458852,33,10131,3,3055149.0
1,Porto Alegre,RS,172285,22,5818,1,1488252.0
2,Joinville,SC,119752,31,2077,2,597658.0
3,Cuiabá,MT,114553,15,3553,0,618124.0
4,Teresina,PI,110519,5,2610,1,868075.0
5,Florianópolis,SC,85114,112,1124,1,508826.0
6,Caxias do Sul,RS,79076,8,1460,0,517451.0
7,Blumenau,SC,65699,3,693,1,361855.0
8,Importados/Indefinidos,SC,59834,9,959,0,NaN
9,Pelotas,RS,51342,9,1231,0,343132.0
10,Canoas,RS,45573,5,1702,0,348208.0
11,Chapecó,SC,43303,1,796,0,224013.0
12,Santa Maria,RS,42861,5,834,0,283677.0
13,Itajaí,SC,42471,3,796,0,223112.0
14,Várzea Grande,PI,41990,13,1430,0,287526.0
15,Criciúma,SC,39582,2,663,0,217311.0
16,Rondonópolis,MT,38577,1,943,0,236042.0
17,Passo Fundo,RS,38148,7,716,0,204722.0
18,São José,SC,37141,9,625,0,250181.0
19,Jaraguá do Sul,SC,36270,0,437,0,181173.0

In [35]:
dfco = dfc2.sort_values(by='new_confirmed', ascending=False).reset_index(drop=True)
dfco[:20]

,city,state,last_available_confirmed,new_confirmed,last_available_deaths,new_deaths,estimated_population
0,Florianópolis,SC,85114,112,1124,1,508826.0
1,Brasília,DF,458852,33,10131,3,3055149.0
2,Joinville,SC,119752,31,2077,2,597658.0
3,Porto Alegre,RS,172285,22,5818,1,1488252.0
4,Nova Ubiratã,MT,1089,16,26,0,12298.0
5,Cuiabá,MT,114553,15,3553,0,618124.0
6,Novo Santo Antônio,PI,404,14,6,0,3003.0
7,Várzea Grande,PI,41990,13,1430,0,287526.0
8,Pontes e Lacerda,MT,6114,13,233,0,45774.0
9,Nova Bandeirantes,MT,1100,13,26,0,15685.0
10,Cáceres,MT,12097,12,436,0,94861.0
11,Vila Rica,MT,2480,11,45,0,26496.0
12,Pelotas,RS,51342,9,1231,0,343132.0
13,São José,SC,37141,9,625,0,250181.0
14,Importados/Indefinidos,SC,59834,9,959,0,NaN
15,Caxias do Sul,RS,79076,8,1460,0,517451.0
16,Primavera do Leste,MT,14972,8,333,0,63092.0
17,Guarantã do Norte,MT,4583,7,125,0,36130.0
18,Passo Fundo,RS,38148,7,716,0,204722.0
19,Confresa,MT,4284,6,110,0,31510.0

In [14]:
cidades = list(dfc.city.drop_duplicates().values)
cidades

['Brasília',
 'Importados/Indefinidos',
 'Acorizal',
 'Água Boa',
 'Alta Floresta',
 'Alto Araguaia',
 'Alto Boa Vista',
 'Alto Garças',
 'Alto Paraguai',
 'Alto Taquari',
 'Apiacás',
 'Araguaiana',
 'Araguainha',
 'Araputanga',
 'Arenápolis',
 'Aripuanã',
 'Barão de Melgaço',
 'Barra do Bugres',
 'Barra do Garças',
 'Bom Jesus do Araguaia',
 'Brasnorte',
 'Cáceres',
 'Campinápolis',
 'Campo Novo do Parecis',
 'Campos de Júlio',
 'Campo Verde',
 'Canabrava do Norte',
 'Canarana',
 'Carlinda',
 'Castanheira',
 'Chapada dos Guimarães',
 'Cláudia',
 'Cocalinho',
 'Colíder',
 'Colniza',
 'Comodoro',
 'Confresa',
 "Conquista D'Oeste",
 'Cotriguaçu',
 'Cuiabá',
 'Curvelândia',
 'Denise',
 'Diamantino',
 'Dom Aquino',
 'Feliz Natal',
 "Figueirópolis D'Oeste",
 'Gaúcha do Norte',
 'General Carneiro',
 "Glória D'Oeste",
 'Guarantã do Norte',
 'Guiratinga',
 'Indiavaí',
 'Ipiranga do Norte',
 'Itanhangá',
 'Itaúba',
 'Itiquira',
 'Jaciara',
 'Jangada',
 'Jauru',
 'Juara',
 'Juína',
 'Juruena',
 'Juscimeira',
 "Lambari D'Oeste",
 'Lucas do Rio Verde',
 'Luciara',
 'Marcelândia',
 'Matupá',
 "Mirassol d'Oeste",
 'Nobres',
 'Nortelândia',
 'Nossa Senhora do Livramento',
 'Nova Bandeirantes',
 'Nova Brasilândia',
 'Nova Canaã do Norte',
 'Nova Guarita',
 'Nova Lacerda',
 'Nova Marilândia',
 'Nova Maringá',
 'Nova Monte Verde',
 'Nova Mutum',
 'Nova Nazaré',
 'Nova Olímpia',
 'Nova Santa Helena',
 'Nova Ubiratã',
 'Nova Xavantina',
 'Novo Horizonte do Norte',
 'Novo Mundo',
 'Novo Santo Antônio',
 'Novo São Joaquim',
 'Paranaíta',
 'Paranatinga',
 'Pedra Preta',
 'Peixoto de Azevedo',
 'Planalto da Serra',
 'Poconé',
 'Pontal do Araguaia',
 'Ponte Branca',
 'Pontes e Lacerda',
 'Porto Alegre do Norte',
 'Porto dos Gaúchos',
 'Porto Esperidião',
 'Porto Estrela',
 'Poxoréu',
 'Primavera do Leste',
 'Querência',
 'Reserva do Cabaçal',
 'Ribeirão Cascalheira',
 'Ribeirãozinho',
 'Rio Branco',
 'Rondolândia',
 'Rondonópolis',
 'Rosário Oeste',
 'Salto do Céu',
 'Santa Carmem',
 'Santa Cruz do Xingu',
 'Santa Rita do Trivelato',
 'Santa Terezinha',
 'Santo Afonso',
 'Santo Antônio do Leste',
 'Santo Antônio do Leverger',
 'São Félix do Araguaia',
 'São José do Povo',
 'São José do Rio Claro',
 'São José dos Quatro Marcos',
 'São José do Xingu',
 'São Pedro da Cipa',
 'Sapezal',
 'Serra Nova Dourada',
 'Sinop',
 'Sorriso',
 'Tabaporã',
 'Tangará da Serra',
 'Tapurah',
 'Terra Nova do Norte',
 'Tesouro',
 'Torixoréu',
 'União do Sul',
 'Vale de São Domingos',
 'Várzea Grande',
 'Vera',
 'Vila Bela da Santíssima Trindade',
 'Vila Rica',
 'Acauã',
 'Agricolândia',
 'Água Branca',
 'Alagoinha do Piauí',
 'Alegrete do Piauí',
 'Alto Longá',
 'Altos',
 'Alvorada do Gurguéia',
 'Amarante',
 'Angical do Piauí',
 'Anísio de Abreu',
 'Antônio Almeida',
 'Aroazes',
 'Aroeiras do Itaim',
 'Arraial',
 'Assunção do Piauí',
 'Avelino Lopes',
 'Baixa Grande do Ribeiro',
 "Barra D'Alcântara",
 'Barras',
 'Barreiras do Piauí',
 'Barro Duro',
 'Batalha',
 'Bela Vista do Piauí',
 'Belém do Piauí',
 'Beneditinos',
 'Bertolínia',
 'Betânia do Piauí',
 'Boa Hora',
 'Bocaina',
 'Bom Jesus',
 'Bom Princípio do Piauí',
 'Bonfim do Piauí',
 'Boqueirão do Piauí',
 'Brasileira',
 'Brejo do Piauí',
 'Buriti dos Lopes',
 'Buriti dos Montes',
 'Cabeceiras do Piauí',
 'Cajazeiras do Piauí',
 'Cajueiro da Praia',
 'Caldeirão Grande do Piauí',
 'Campinas do Piauí',
 'Campo Alegre do Fidalgo',
 'Campo Grande do Piauí',
 'Campo Largo do Piauí',
 'Campo Maior',
 'Canavieira',
 'Canto do Buriti',
 'Capitão de Campos',
 'Capitão Gervásio Oliveira',
 'Caracol',
 'Caraúbas do Piauí',
 'Caridade do Piauí',
 'Castelo do Piauí',
 'Caxingó',
 'Cocal',
 'Cocal de Telha',
 'Cocal dos Alves',
 'Coivaras',
 'Colônia do Gurguéia',
 'Colônia do Piauí',
 'Conceição do Canindé',
 'Coronel José Dias',
 'Corrente',
 'Cristalândia do Piauí',
 'Cristino Castro',
 'Curimatá',
 'Currais',
 'Curralinhos',
 'Curral Novo do Piauí',
 'Demerval Lobão',
 'Dirceu Arcoverde',
 'Dom Expedito Lopes',
 'Domingos Mourão',
 'Dom Inocêncio',
 'Elesbão Veloso',
 'Eliseu Martins',
 'Esperantina',
 'Fartura do Piauí',
 'Flores do Piauí',
 'Floresta do Piauí',
 'Floriano',
 'Francinópolis',
 'Francisco Ayres',
 'Francisco Macedo',
 'Francisco Santos',
 'Fronteiras',
 'Geminiano',
 'Gilbués',
 'Guadalupe',
 'Guaribas',
 'Hugo Napoleão',
 'Ilha Grande',
 'Inhuma',
 'Ipiranga do Piauí',
 'Isaías Coelho',
 'Itainópolis',
 'Itaueira',
 'Jacobina do Piauí',
 'Jaicós',
 'Jardim do Mulato',
 'Jatobá do Piauí',
 'Jerumenha',
 'João Costa',
 'Joaquim Pires',
 'Joca Marques',
 'José de Freitas',
 'Juazeiro do Piauí',
 'Júlio Borges',
 'Jurema',
 'Lagoa Alegre',
 'Lagoa de São Francisco',
 'Lagoa do Barro do Piauí',
 'Lagoa do Piauí',
 'Lagoa do Sítio',
 'Lagoinha do Piauí',
 'Landri Sales',
 'Luís Correia',
 'Luzilândia',
 'Madeiro',
 'Manoel Emídio',
 'Marcolândia',
 'Marcos Parente',
 'Massapê do Piauí',
 'Matias Olímpio',
 'Miguel Alves',
 'Miguel Leão',
 'Milton Brandão',
 'Monsenhor Gil',
 'Monsenhor Hipólito',
 'Monte Alegre do Piauí',
 'Morro Cabeça no Tempo',
 'Morro do Chapéu do Piauí',
 'Murici dos Portelas',
 'Nazaré do Piauí',
 'Nazária',
 'Nossa Senhora de Nazaré',
 'Nossa Senhora dos Remédios',
 'Nova Santa Rita',
 'Novo Oriente do Piauí',
 'Oeiras',
 "Olho D'Água do Piauí",
 'Padre Marcos',
 'Paes Landim',
 'Pajeú do Piauí',
 'Palmeira do Piauí',
 'Palmeirais',
 'Paquetá',
 'Parnaguá',
 'Parnaíba',
 'Passagem Franca do Piauí',
 'Patos do Piauí',
 "Pau D'Arco do Piauí",
 'Paulistana',
 'Pavussu',
 'Pedro II',
 'Pedro Laurentino',
 'Picos',
 'Pimenteiras',
 'Pio IX',
 'Piracuruca',
 'Piripiri',
 'Porto',
 'Porto Alegre do Piauí',
 'Prata do Piauí',
 'Queimada Nova',
 'Redenção do Gurguéia',
 'Regeneração',
 'Riacho Frio',
 'Ribeira do Piauí',
 'Ribeiro Gonçalves',
 'Rio Grande do Piauí',
 'Santa Cruz do Piauí',
 'Santa Cruz dos Milagres',
 'Santa Filomena',
 'Santa Luz',
 'Santana do Piauí',
 'Santa Rosa do Piauí',
 'Santo Antônio de Lisboa',
 'Santo Antônio dos Milagres',
 'Santo Inácio do Piauí',
 'São Braz do Piauí',
 'São Félix do Piauí',
 'São Francisco de Assis do Piauí',
 'São Francisco do Piauí',
 'São Gonçalo do Gurguéia',
 'São Gonçalo do Piauí',
 'São João da Canabrava',
 'São João da Fronteira',
 'São João da Serra',
 'São João da Varjota',
 'São João do Arraial',
 'São João do Piauí',
 'São José do Divino',
 'São José do Peixe',
 'São José do Piauí',
 'São Julião',
 'São Lourenço do Piauí',
 'São Luis do Piauí',
 'São Miguel da Baixa Grande',
 'São Miguel do Fidalgo',
 'São Miguel do Tapuio',
 'São Pedro do Piauí',
 'São Raimundo Nonato',
 'Sebastião Barros',
 'Sebastião Leal',
 'Sigefredo Pacheco',
 'Simões',
 'Simplício Mendes',
 'Socorro do Piauí',
 'Sussuapara',
 'Tamboril do Piauí',
 'Tanque do Piauí',
 'Teresina',
 'União',
 'Uruçuí',
 'Valença do Piauí',
 'Várzea Branca',
 'Vera Mendes',
 'Vila Nova do Piauí',
 'Wall Ferraz',
 'Aceguá',
 'Água Santa',
 'Agudo',
 'Ajuricaba',
 'Alecrim',
 'Alegrete',
 'Alegria',
 'Almirante Tamandaré do Sul',
 'Alpestre',
 'Alto Alegre',
 'Alto Feliz',
 'Alvorada',
 'Amaral Ferrador',
 'Ametista do Sul',
 'André da Rocha',
 'Anta Gorda',
 'Antônio Prado',
 'Arambaré',
 'Araricá',
 'Aratiba',
 'Arroio do Meio',
 'Arroio do Padre',
 'Arroio do Sal',
 'Arroio dos Ratos',
 'Arroio do Tigre',
 'Arroio Grande',
 'Arvorezinha',
 'Augusto Pestana',
 'Áurea',
 'Bagé',
 'Balneário Pinhal',
 'Barão',
 'Barão de Cotegipe',
 'Barão do Triunfo',
 'Barracão',
 'Barra do Guarita',
 'Barra do Quaraí',
 'Barra do Ribeiro',
 'Barra do Rio Azul',
 'Barra Funda',
 'Barros Cassal',
 'Benjamin Constant do Sul',
 'Bento Gonçalves',
 'Boa Vista das Missões',
 'Boa Vista do Buricá',
 'Boa Vista do Cadeado',
 'Boa Vista do Incra',
 'Boa Vista do Sul',
 'Bom Princípio',
 'Bom Progresso',
 'Bom Retiro do Sul',
 'Boqueirão do Leão',
 'Bossoroca',
 'Bozano',
 'Braga',
 'Brochier',
 'Butiá',
 'Caçapava do Sul',
 'Cacequi',
 'Cachoeira do Sul',
 'Cachoeirinha',
 'Cacique Doble',
 'Caibaté',
 'Caiçara',
 'Camaquã',
 'Camargo',
 'Cambará do Sul',
 'Campestre da Serra',
 'Campina das Missões',
 'Campinas do Sul',
 'Campo Bom',
 'Campo Novo',
 'Campos Borges',
 'Candelária',
 'Cândido Godói',
 'Candiota',
 'Canela',
 'Canguçu',
 'Canoas',
 'Canudos do Vale',
 'Capão Bonito do Sul',
 'Capão da Canoa',
 'Capão do Cipó',
 'Capão do Leão',
 'Capela de Santana',
 'Capitão',
 'Capivari do Sul',
 'Caraá',
 'Carazinho',
 'Carlos Barbosa',
 'Carlos Gomes',
 'Casca',
 'Caseiros',
 'Catuípe',
 'Caxias do Sul',
 'Centenário',
 'Cerrito',
 'Cerro Branco',
 'Cerro Grande',
 'Cerro Grande do Sul',
 'Cerro Largo',
 'Chapada',
 'Charqueadas',
 'Charrua',
 'Chiapetta',
 'Chuí',
 'Chuvisca',
 'Cidreira',
 'Ciríaco',
 'Colinas',
 'Colorado',
 'Condor',
 'Constantina',
 'Coqueiro Baixo',
 'Coqueiros do Sul',
 'Coronel Barros',
 'Coronel Bicaco',
 'Coronel Pilar',
 'Cotiporã',
 'Coxilha',
 'Crissiumal',
 'Cristal',
 'Cristal do Sul',
 'Cruz Alta',
 'Cruzaltense',
 'Cruzeiro do Sul',
 'David Canabarro',
 'Derrubadas',
 'Dezesseis de Novembro',
 'Dilermando de Aguiar',
 'Dois Irmãos',
 'Dois Irmãos das Missões',
 'Dois Lajeados',
 'Dom Feliciano',
 'Dom Pedrito',
 'Dom Pedro de Alcântara',
 'Dona Francisca',
 'Doutor Maurício Cardoso',
 'Doutor Ricardo',
 'Eldorado do Sul',
 'Encantado',
 'Encruzilhada do Sul',
 'Engenho Velho',
 'Entre-Ijuís',
 'Entre Rios do Sul',
 'Erebango',
 'Erechim',
 'Ernestina',
 'Erval Grande',
 'Erval Seco',
 'Esmeralda',
 'Esperança do Sul',
 'Espumoso',
 'Estação',
 'Estância Velha',
 'Esteio',
 'Estrela',
 'Estrela Velha',
 'Eugênio de Castro',
 'Fagundes Varela',
 'Farroupilha',
 'Faxinal do Soturno',
 'Faxinalzinho',
 'Fazenda Vilanova',
 'Feliz',
 'Flores da Cunha',
 'Floriano Peixoto',
 'Fontoura Xavier',
 'Formigueiro',
 'Forquetinha',
 'Fortaleza dos Valos',
 'Frederico Westphalen',
 'Garibaldi',
 'Garruchos',
 'Gaurama',
 'General Câmara',
 'Gentil',
 'Getúlio Vargas',
 'Giruá',
 'Glorinha',
 'Gramado',
 'Gramado dos Loureiros',
 'Gramado Xavier',
 'Gravataí',
 'Guabiju',
 'Guaíba',
 'Guaporé',
 'Guarani das Missões',
 'Harmonia',
 'Herval',
 'Herveiras',
 'Horizontina',
 'Hulha Negra',
 'Humaitá',
 'Ibarama',
 'Ibiaçá',
 'Ibiraiaras',
 'Ibirapuitã',
 'Ibirubá',
 'Igrejinha',
 'Ijuí',
 'Ilópolis',
 'Imbé',
 'Imigrante',
 'Independência',
 'Inhacorá',
 'Ipê',
 'Ipiranga do Sul',
 'Iraí',
 'Itaara',
 'Itacurubi',
 'Itapuca',
 'Itaqui',
 'Itati',
 'Itatiba do Sul',
 'Ivorá',
 'Ivoti',
 'Jaboticaba',
 'Jacuizinho',
 'Jacutinga',
 'Jaguarão',
 'Jaguari',
 'Jaquirana',
 'Jari',
 'Jóia',
 'Júlio de Castilhos',
 'Lagoa Bonita do Sul',
 'Lagoa dos Três Cantos',
 'Lagoão',
 'Lagoa Vermelha',
 'Lajeado',
 'Lajeado do Bugre',
 'Lavras do Sul',
 'Liberato Salzano',
 'Lindolfo Collor',
 'Linha Nova',
 'Maçambará',
 'Machadinho',
 'Mampituba',
 'Manoel Viana',
 'Maquiné',
 'Maratá',
 'Marau',
 'Marcelino Ramos',
 'Mariana Pimentel',
 'Mariano Moro',
 'Marques de Souza',
 'Mata',
 'Mato Castelhano',
 'Mato Leitão',
 'Mato Queimado',
 'Maximiliano de Almeida',
 'Minas do Leão',
 'Miraguaí',
 'Montauri',
 'Monte Alegre dos Campos',
 'Monte Belo do Sul',
 'Montenegro',
 'Mormaço',
 'Morrinhos do Sul',
 'Morro Redondo',
 'Morro Reuter',
 'Mostardas',
 'Muçum',
 'Muitos Capões',
 'Muliterno',
 'Não-Me-Toque',
 'Nicolau Vergueiro',
 'Nonoai',
 'Nova Alvorada',
 'Nova Araçá',
 'Nova Bassano',
 'Nova Boa Vista',
 'Nova Bréscia',
 'Nova Candelária',
 'Nova Esperança do Sul',
 'Nova Hartz',
 'Nova Pádua',
 'Nova Palma',
 'Nova Petrópolis',
 'Nova Prata',
 'Nova Ramada',
 'Nova Roma do Sul',
 'Novo Barreiro',
 'Novo Cabrais',
 'Novo Hamburgo',
 'Novo Machado',
 'Novo Tiradentes',
 'Novo Xingu',
 'Osório',
 'Paim Filho',
 'Palmares do Sul',
 'Palmeira das Missões',
 'Palmitinho',
 'Panambi',
 'Pantano Grande',
 'Paraí',
 'Paraíso do Sul',
 'Pareci Novo',
 'Parobé',
 'Passa Sete',
 'Passo do Sobrado',
 'Passo Fundo',
 'Paulo Bento',
 'Paverama',
 'Pedras Altas',
 'Pedro Osório',
 'Pejuçara',
 'Pelotas',
 'Picada Café',
 'Pinhal',
 'Pinhal da Serra',
 'Pinhal Grande',
 'Pinheirinho do Vale',
 'Pinheiro Machado',
 'Pinto Bandeira',
 'Pirapó',
 'Piratini',
 'Planalto',
 'Poço das Antas',
 'Pontão',
 'Ponte Preta',
 'Portão',
 'Porto Alegre',
 'Porto Lucena',
 'Porto Mauá',
 'Porto Vera Cruz',
 'Porto Xavier',
 'Pouso Novo',
 'Presidente Lucena',
 'Progresso',
 'Protásio Alves',
 'Putinga',
 'Quaraí',
 'Quatro Irmãos',
 'Quevedos',
 'Quinze de Novembro',
 'Redentora',
 'Relvado',
 'Restinga Sêca',
 'Rio dos Índios',
 'Rio Grande',
 'Rio Pardo',
 'Riozinho',
 'Roca Sales',
 'Rodeio Bonito',
 'Rolador',
 'Rolante',
 'Ronda Alta',
 'Rondinha',
 'Roque Gonzales',
 'Rosário do Sul',
 'Sagrada Família',
 'Saldanha Marinho',
 'Salto do Jacuí',
 'Salvador das Missões',
 'Salvador do Sul',
 'Sananduva',
 'Santa Bárbara do Sul',
 'Santa Cecília do Sul',
 'Santa Clara do Sul',
 'Santa Cruz do Sul',
 'Santa Margarida do Sul',
 'Santa Maria',
 'Santa Maria do Herval',
 'Santana da Boa Vista',
 "Sant'Ana do Livramento",
 'Santa Rosa',
 'Santa Tereza',
 'Santa Vitória do Palmar',
 'Santiago',
 'Santo Ângelo',
 'Santo Antônio da Patrulha',
 'Santo Antônio das Missões',
 'Santo Antônio do Palma',
 'Santo Antônio do Planalto',
 'Santo Augusto',
 'Santo Cristo',
 'Santo Expedito do Sul',
 'São Borja',
 'São Domingos do Sul',
 'São Francisco de Assis',
 'São Francisco de Paula',
 'São Gabriel',
 'São Jerônimo',
 'São João da Urtiga',
 'São João do Polêsine',
 'São Jorge',
 'São José das Missões',
 'São José do Herval',
 'São José do Hortêncio',
 'São José do Inhacorá',
 'São José do Norte',
 'São José do Ouro',
 'São José dos Ausentes',
 'São José do Sul',
 'São Leopoldo',
 'São Lourenço do Sul',
 'São Luiz Gonzaga',
 'São Marcos',
 'São Martinho',
 'São Martinho da Serra',
 'São Miguel das Missões',
 'São Nicolau',
 'São Paulo das Missões',
 'São Pedro da Serra',
 'São Pedro das Missões',
 'São Pedro do Butiá',
 'São Pedro do Sul',
 'São Sebastião do Caí',
 'São Sepé',
 'São Valentim',
 'São Valentim do Sul',
 'São Valério do Sul',
 'São Vendelino',
 'São Vicente do Sul',
 'Sapiranga',
 'Sapucaia do Sul',
 'Sarandi',
 'Seberi',
 'Sede Nova',
 'Segredo',
 'Selbach',
 'Senador Salgado Filho',
 'Sentinela do Sul',
 'Serafina Corrêa',
 'Sério',
 'Sertão',
 'Sertão Santana',
 'Sete de Setembro',
 'Severiano de Almeida',
 'Silveira Martins',
 'Sinimbu',
 'Sobradinho',
 'Soledade',
 'Tabaí',
 'Tapejara',
 'Tapera',
 'Tapes',
 'Taquara',
 'Taquari',
 'Taquaruçu do Sul',
 'Tavares',
 'Tenente Portela',
 'Terra de Areia',
 'Teutônia',
 'Tio Hugo',
 'Tiradentes do Sul',
 'Toropi',
 'Torres',
 'Tramandaí',
 'Travesseiro',
 'Três Arroios',
 'Três Cachoeiras',
 'Três Coroas',
 'Três de Maio',
 'Três Forquilhas',
 'Três Palmeiras',
 'Três Passos',
 'Trindade do Sul',
 'Triunfo',
 'Tucunduva',
 'Tunas',
 'Tupanci do Sul',
 'Tupanciretã',
 'Tupandi',
 'Tuparendi',
 'Turuçu',
 'Ubiretama',
 'União da Serra',
 'Unistalda',
 'Uruguaiana',
 'Vacaria',
 'Vale do Sol',
 'Vale Real',
 'Vale Verde',
 'Vanini',
 'Venâncio Aires',
 'Vera Cruz',
 'Veranópolis',
 'Vespasiano Corrêa',
 'Viadutos',
 'Viamão',
 'Vicente Dutra',
 'Victor Graeff',
 'Vila Flores',
 'Vila Lângaro',
 'Vila Maria',
 'Vila Nova do Sul',
 'Vista Alegre',
 'Vista Alegre do Prata',
 'Vista Gaúcha',
 'Vitória das Missões',
 'Westfália',
 'Xangri-lá',
 'Abdon Batista',
 'Abelardo Luz',
 'Agrolândia',
 'Agronômica',
 'Água Doce',
 'Águas de Chapecó',
 'Águas Frias',
 'Águas Mornas',
 'Alfredo Wagner',
 'Alto Bela Vista',
 'Anchieta',
 'Angelina',
 'Anita Garibaldi',
 'Anitápolis',
 'Antônio Carlos',
 'Apiúna',
 'Arabutã',
 'Araquari',
 'Araranguá',
 'Armazém',
 'Arroio Trinta',
 'Arvoredo',
 'Ascurra',
 'Atalanta',
 'Aurora',
 'Balneário Arroio do Silva',
 'Balneário Barra do Sul',
 'Balneário Camboriú',
 'Balneário Gaivota',
 'Balneário Piçarras',
 'Balneário Rincão',
 'Bandeirante',
 'Barra Bonita',
 'Barra Velha',
 'Bela Vista do Toldo',
 'Belmonte',
 'Benedito Novo',
 'Biguaçu',
 'Blumenau',
 'Bocaina do Sul',
 'Bombinhas',
 'Bom Jardim da Serra',
 'Bom Jesus do Oeste',
 'Bom Retiro',
 'Botuverá',
 'Braço do Norte',
 'Braço do Trombudo',
 'Brunópolis',
 'Brusque',
 'Caçador',
 'Caibi',
 'Calmon',
 'Camboriú',
 'Campo Alegre',
 'Campo Belo do Sul',
 'Campo Erê',
 'Campos Novos',
 'Canelinha',
 'Canoinhas',
 'Capão Alto',
 'Capinzal',
 'Capivari de Baixo',
 'Catanduvas',
 'Caxambu do Sul',
 'Celso Ramos',
 'Cerro Negro',
 'Chapadão do Lageado',
 'Chapecó',
 'Cocal do Sul',
 'Concórdia',
 'Cordilheira Alta',
 'Coronel Freitas',
 'Coronel Martins',
 'Correia Pinto',
 'Corupá',
 'Criciúma',
 'Cunha Porã',
 'Cunhataí',
 'Curitibanos',
 'Descanso',
 'Dionísio Cerqueira',
 'Dona Emma',
 'Doutor Pedrinho',
 'Entre Rios',
 'Ermo',
 'Erval Velho',
 'Faxinal dos Guedes',
 'Flor do Sertão',
 'Florianópolis',
 'Formosa do Sul',
 'Forquilhinha',
 'Fraiburgo',
 'Frei Rogério',
 'Galvão',
 'Garopaba',
 'Garuva',
 'Gaspar',
 'Governador Celso Ramos',
 'Grão Pará',
 'Gravatal',
 'Guabiruba',
 'Guaraciaba',
 'Guaramirim',
 'Guarujá do Sul',
 'Guatambú',
 "Herval d'Oeste",
 'Ibiam',
 'Ibicaré',
 'Ibirama',
 'Içara',
 'Ilhota',
 'Imaruí',
 'Imbituba',
 'Imbuia',
 'Indaial',
 'Iomerê',
 'Ipira',
 'Iporã do Oeste',
 'Ipuaçu',
 'Ipumirim',
 'Iraceminha',
 'Irani',
 'Irati',
 'Irineópolis',
 'Itá',
 'Itaiópolis',
 'Itajaí',
 'Itapema',
 'Itapiranga',
 'Itapoá',
 'Ituporanga',
 'Jaborá',
 'Jacinto Machado',
 'Jaguaruna',
 'Jaraguá do Sul',
 'Jardinópolis',
 'Joaçaba',
 'Joinville',
 'José Boiteux',
 'Jupiá',
 ...]

In [15]:
dfco.head()

,city,state,last_available_confirmed,new_confirmed,last_available_deaths,new_deaths,estimated_population
0,Brasília,DF,458852,0,10131,0,3055149.0
1,Brasília,DF,458852,33,10131,3,3055149.0
2,Porto Alegre,RS,172285,0,5818,0,1488252.0
3,Porto Alegre,RS,172285,22,5818,1,1488252.0
4,Joinville,SC,119752,31,2077,2,597658.0

In [ ]:
print(len(dfc))
dfc2 = dfc.loc [ : ,   (cidades == dfc.city) ]
print(len(dfc2))

In [ ]:
dfc.head()

In [ ]:
dfco.head(10)

In [ ]:
len(dfco.city.unique())

In [ ]:
len(dfco)

In [ ]:
len(dfco) - len(dfco.city.unique())

In [ ]:
dfe

In [ ]:
dfo

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(12,8))
sns.barplot(x='last_available_confirmed', y='state', data=dfo)

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x='last_available_confirmed', y='state', data=dfo, palette='Reds_r')

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x='last_available_confirmed', y='state', data=dfo[:10], palette='Reds_r')

In [ ]:
dfo2 = dfo[atributos]
dfo2

In [ ]:
dfn = dfo2.sort_values(by='new_confirmed', ascending=False).reset_index(drop=True)
dfn

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x='new_confirmed', y='state', data=dfn[:10], palette='Reds_r')

# Mapas

In [ ]:
!pip install -q geopandas

In [ ]:
!pip install -q mapclassify

In [ ]:
!ls estados*

In [ ]:
import geopandas as gpd

df = gpd.read_file('estados_2010.shp')
df.head()

In [ ]:
len(df)

In [ ]:
df.plot(figsize=(12,10))

In [ ]:
df.head()

In [ ]:
type(df)

In [ ]:
dfn.head()

# Join

In [ ]:
mapa = df.merge(dfn, left_on='sigla', right_on='state')
mapa

In [ ]:
fig, ax = plt.subplots(figsize=(12,10))

mapa.plot(column='new_confirmed', figsize=(12,10), cmap='Reds', legend=True, ax=ax)

# Mapa Temático ou Choropleth map

In [ ]:
fig, ax = plt.subplots(figsize=(12,10))

mapa.plot(column='last_available_confirmed', figsize=(12,10), cmap='Reds', legend=True, ax=ax)
ax.set(title='Covid19 - Ultimos Casos Confirmados - 23/dezembro/2021')
ax.set_axis_off()
plt.show()

In [ ]:
mapa

In [ ]:
mapa.to_csv('mapa_covid_brasil.csv', index=False)

In [ ]:
!head mapa_covid_brasil.csv